@charset "utf-8";
table {
	margin: auto;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
figcaption{
	text-align: center;
}
img{
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
p {
	padding: 10px;
	margin:auto;
}
nav{
	align-content: center;
}
a{
	color: black;
	border: black solid 1px;
	text-align: center;
	display: block;
	align-content: center;
	margin-left: 3px;
	margin-right:3px;
	padding-left:3px;
	padding-right: 3px;
}


th{
	text-align: center;
}

@media (max-width: 768px){
	#logo{
	width:100%
}
}
@media (min-width: 768px){
	p{
		width:80%
	}	

}
@media (min-width: 992px){
	a{
		font-size: 1.4em;
}
}