@charset "utf-8";
/* CSS Document */


main {
    margin-right: auto;
    margin-left: auto;
}
h1   {
    text-align: center;
	color: white;
	font-size: 5em;
}
#header {
	background-image: url("../images/Dumbell.jpg");
	padding: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
main div {
	align-content: center;
}
.branches_img {
	display: block;
	margin: auto;
}
